<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>通迅信息完善</title>
    <import type="css" file="bootstrap.css.bootstrap-theme" />
    <import type="css" file="bootstrap.css.bootstrap" />
    </head>
    <body>
        <h1><span class="label label-primary">
            朱河高中3年级14班同学信息征集栏
            </span>
        </h1><br />
        <div class="">
            <form class="form-horizontal form-contact" action="/index/save" method="post">
                <input type="hidden" name="scode" value="{$code}">
                <div class="form-group">
                <label class="col-sm-2 control-label">姓名：</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" ><span class="label label-default"> （必填）</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">手机：</label>
                    <div class="col-sm-10">
                        <input type="text" name="tel" ><span class="label label-default"> （必填）</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">所在城市：</label>
                    <div class="col-sm-10">
                        <input type="text" name="city" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">QQ：</label>
                    <div class="col-sm-10">
                        <input type="text" name="qq" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">微信：</label>
                    <div class="col-sm-10">
                        <input type="text" name="weixin" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">补充：</label>
                    <div class="col-sm-10">
                        <input type="text" name="comment" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">验证码：</label>
                    <div class="col-sm-10">
                        <input type="text" name="vcode" >
                        <img id="verifyImg" src="/index/getVery" onClick="changeVerify()" title="点击刷新验证码" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success std-contact">保存</button>
                    </div>
                </div>
            </form>
        </div>

    <import file="js.jquery" />
    <import file="bootstrap.js.bootstrap" />
    <script type="text/javascript">
        $(document).ready(function() {
            $(".form-contact").submit(function (e){
                var scode = $("input[name=scode]").val();
                if( scode == undefined || scode == ''  ) {
                    alert( '抱歉，检测恶意请求，刷新页面重试');
                    return false;
                }
                var name = $("input[name=name]").val();
                var tel = $("input[name=tel]").val();
                if( name== '' || tel=='' ){
                    alert( '抱歉，必填姓名和手机');
                    return false;
                }
                var vcode = $("input[name=vcode]").val();
                if( vcode == '' ) {
                    alert( '抱歉，请输入验证码');
                    return false;
                }
            });

        });
        function changeVerify() {
            var timenow = new Date().getTime();
            document.getElementById('verifyImg').src='/index/getVery/'+timenow;
        }
    </script></body>
</html> 
