<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>{$title}</title>
    <import type="css" file="bootstrap.css.bootstrap-theme" />
    <import type="css" file="bootstrap.css.bootstrap" />
    </head>
    <body>
        <h1><span class="label label-primary">
            欢迎使用开发分支
            </span>
        </h1><br />
        <p>
            <span class="label label-default" > 如使用中存在问题，请联系开发者小安，Email: j@wonhsi.com </span>
        </p>
    </body>
    <import file="bootstrap.js.bootstrap" />
</html> 